version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.2
    container_name: keycloak
    command:
      - start
      - --verbose
      - --features=admin-fine-grained-authz
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_HOSTNAME: auth.fhub.club
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: "8080"
      KC_PROXY_HEADERS: xforwarded

      AXON_JDBC_URL: jdbc:sqlserver://172.17.0.1:1433;databaseName=BuildingManagement;encrypt=true;trustServerCertificate=true;
      AXON_JDBC_USER: SA
      AXON_JDBC_PASSWORD: "@AparmentManagement2025"
      AXON_ADMIN_CLIENT_ID: "backend"
      AXON_ADMIN_ROLE: "global_admin"
    volumes:
      - ./themes:/opt/keycloak/themes
      - ./providers:/opt/keycloak/providers
      - ./import:/opt/keycloak/data/import

    ports:
      - "127.0.0.1:8080:8080"

    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
